body {
    background-color: rgba(120, 25, 149, 0.275);
}
.topicswillbecoveredhere {
    font-size: 20px;
    color: rgb(110, 73, 190);
}
.topicspoint {
    text-align: center;
}
.learningcine {
    text-align: center;
    color: rgba(187, 52, 250, 0.93);
}
.htmlcine {
    text-align: center;
    color: rgba(202, 22, 157, 0.645);
    font-size: xx-large;
    font-style: italic;
}
.fwlywts {
    text-align: center;
    color: rgba(12, 173, 87, 0.511);
}
div {
    text-align: center;
    font-size: x-large;
}
a {
    color: rgb(174, 5, 225);
}
.biaetopics {
    color: rgba(111, 133, 86, 0.721);
}
p {
    color: rgb(130, 15, 59);
}
